<!-- start -->
<section class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800" id="testi">
    <div class="container">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h6 class="text-orange-600 text-base font-medium uppercase mb-2">WHAT CUSTOMERS SAY</h6>
            <h3 class="mb-4 md:text-2xl text-xl font-medium dark:text-white">Client's Review</h3>

            <p class="text-slate-400 dark:text-slate-300 max-w-xl mx-auto">The comments of some of our customers 100% satisfied with the tinished Projects ma and high quality and on time</p>
        </div><!--end grid-->

        <div class="grid grid-cols-1 mt-8 relative">
            <div class="tiny-two-item">
                <div class="tiny-slide">
                    <div
                        class="lg:flex p-6 lg:p-0 relative rounded-md shadow shadow-slate-200 dark:shadow-slate-700 bg-white dark:bg-slate-900 overflow-hidden m-2">
                        <img class="w-24 h-24 lg:w-48 lg:h-auto lg:rounded-none rounded-full mx-auto"
                            src="assets/images/client/omar.jpg" alt="" width="500" height="500">
                        <div class="pt-6 lg:p-6 text-center lg:text-left space-y-4">
                            <p class="text-base text-slate-500 dark:text-slate-200"> " They have excellent prices and high quality in performance and follow-up"</p>

                            <div>
                                <span class="text-orange-600 block mb-1">Ayman</span>
                                <span class="text-slate-400 text-sm dark:text-white/60 block">Media Work,
                                   Qatar</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tiny-slide">
                    <div
                        class="lg:flex p-6 lg:p-0 relative rounded-md shadow shadow-slate-200 dark:shadow-slate-700 bg-white dark:bg-slate-900 overflow-hidden m-2">
                        <img class="w-24 h-24 lg:w-48 lg:h-auto lg:rounded-none rounded-full mx-auto"
                            src="assets/images/client/aya.jpg" alt="" width="384" height="512">
                        <div class="pt-6 lg:p-6 text-center lg:text-left space-y-4">
                            <p class="text-base text-slate-500 dark:text-slate-200"> "They are really cool and very special" </p>

                            <div>
                                <span class="text-orange-600 block mb-1">Aya Ahmed</span>
                                <span class="text-slate-400 text-sm dark:text-white/60 block">Staff Engineer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tiny-slide">
                    <div
                        class="lg:flex p-6 lg:p-0 relative rounded-md shadow shadow-slate-200 dark:shadow-slate-700 bg-white dark:bg-slate-900 overflow-hidden m-2">
                        <img class="w-24 h-24 lg:w-48 lg:h-auto lg:rounded-none rounded-full mx-auto"
                            src="assets/images/client/asmaa.jpg" alt="" width="384" height="512">
                        <div class="pt-6 lg:p-6 text-center lg:text-left space-y-4">
                            <p class="text-base text-slate-500 dark:text-slate-200"> " i’ll deal with them again because they are very professional & committed to time " </p>

                            <div>
                                <span class="text-orange-600 block mb-1">Asmaa</span>
                                <span class="text-slate-400 text-sm dark:text-white/60 block">Software Engineer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tiny-slide">
                    <div
                        class="lg:flex p-6 lg:p-0 relative rounded-md shadow shadow-slate-200 dark:shadow-slate-700 bg-white dark:bg-slate-900 overflow-hidden m-2">
                        <img class="w-24 h-24 lg:w-48 lg:h-auto lg:rounded-none rounded-full mx-auto"
                            src="assets/images/client/ahmed.jpg" alt="" width="384" height="512">
                        <div class="pt-6 lg:p-6 text-center lg:text-left space-y-4">
                            <p class="text-base text-slate-500 dark:text-slate-200"> "They are professional" </p>

                            <div>
                                <span class="text-orange-600 block mb-1">Muhammed</span>
                                <span class="text-slate-400 text-sm dark:text-white/60 block">Staff Engineer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
